@using System.Net
@using Dash.Areas.Identity.Controllers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Financial Dashboard</title>
    <link rel="icon" href="~/img/favicon2.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/assets/css/soft-design-system-pro.css">
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <script src="~/js/fullcalendar-scheduler/dist/index.global.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.3.0/ckeditor5.css" crossorigin>
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5-premium-features/44.3.0/ckeditor5-premium-features.css" crossorigin>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <link rel="stylesheet" href="~/css/ckeditor.css" asp-append-version="true">
    <link rel="stylesheet" href="/Admin/css/admin.css" asp-append-version="true">
    <link rel="stylesheet" href="/Identity/css/identity.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/ag-grid.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Dash.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/flatpickr-custom-styles.css" asp-append-version="true">
</head>
<body class="background">
<div class="container">
    <nav
        class="navbar navbar-expand-lg bg-gradient-dark navbar-dark  blur blur-rounded top-0 position-absolute justify-content-center z-index-3 shadow-lg py-2 sticky-top start-0 end-0 mx-auto">
        <div class="container px-0">
            @if (ViewBag.user != null)
            {
                <a class="navbar-brand maven-pro-button ms-sm-3 text-white " asp-action="Index" asp-controller="Dashboard" asp-area="Admin" rel="tooltip"
                   title="Created By Kevin Stradtman" data-placement="bottom">
                    Financial Dashboard - <span class="text-gradient text-success">@ViewBag.user.UserName</span> <img src="~/img/logo-2.png" height="50" width="50" alt="Site Logo"/>
                </a>
            }
            else
            {
                <a class="navbar-brand maven-pro-button ms-sm-3 text-white" asp-action="Index" asp-controller="Home" rel="tooltip"
                   title="Created By Kevin Stradtman" data-placement="bottom">
                    Financial Dashboard <img src="~/img/logo-2.png" height="50" width="50" alt="Site Logo"/>
                </a>    
            }
            
            <button class="navbar-toggler shadow-none ms-md-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav">
                <div class="collapse navbar-collapse" id="navigation">
                    <div class="d-flex justify-content-center gap-2">

                        <div class="dropdown m-3">
                            <a class="btn bg-gradient-dark dropdown-toggle maven-pro-button orange-text m-3" id="dropdownAccountA"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Account
                            </a>
                            <ul class="dropdown-menu bg-gradient-dark" aria-labelledby="dropdownAccountA">
                                @if (ViewBag.user == null)
                                {
                                    <li><a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="Register" asp-controller="Identity" asp-area="Identity">Register</a></li>
                                    <li><a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="Login" asp-controller="Identity" asp-area="Identity">Login</a></li>
                                }
                                else
                                {
                                    <form asp-controller="Identity" asp-action="Logout" asp-area="Identity" method="post">
                                        <button class="dropdown-item maven-pro-button text-white border-radius-md" type="submit">Logout</button>
                                    </form>
                                }
                            </ul>
                        </div>
                        @if (ViewBag.user != null)
                        {
                            <li class="nav-item dropstart dropdown-hover z-index-3 mt-3">
                                <a onclick="openNav()" role="button" class="nav-link violet-text text-center maven-pro-button my-2 ps-2 mx-2 d-flex justify-content-center cursor-pointer align-items-center menu-link" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                                    Menu
                                    <img src="~/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                                </a>
                                <div class="dropdown-menu card-background-color dropdown-menu-animation dropdown-xl p-3 border-radius-xl mt-0 mt-lg-3 sidenav" id="sidenav" aria-labelledby="dropdownMenuPages">
                                    <div class="row">
                                        <div class="col-12" style="display: flex; align-items: end; justify-content: end">
                                            <h3 class="green-text ubuntu-bold text-2xl m-2">Menu</h3>
                                            <a href="javascript:void(0)" role="button" onclick="closeNav()" class="cherry-text text-2xl ubuntu-bold mt-4">&#10006;</a>
                                        </div>
                                    </div>
                                       
                                    <hr class="vertical bg-white">
                                    <div class="dropdown-header text-white px-0 mt-3">
                                        <div class="d-inline-block">
                                            <div class="icon icon-shape icon-xs border-radius-md violet text-center me-2 d-flex align-items-center justify-content-center ps-0">
                                                <i class="fa-solid fa-gauge fa-menu-style"></i>
                                            </div>
                                        </div>
                                        Admin Dashboard
                                    </div>
                                    <hr class="horizontal violet">
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="Index" asp-controller="Dashboard" asp-area="Admin">Dashboard</a>
                                    <hr class="horizontal border-dashed bg-white">
                                    <div class="dropdown-header text-white px-0 mt-3">
                                        <div class="d-inline-block">
                                            <div class="icon icon-shape icon-xs border-radius-md violet text-center me-2 d-flex align-items-center justify-content-center ps-0">
                                                <i class="fa-regular fa-object-group fa-menu-style"></i>
                                            </div>
                                        </div>
                                        Entities
                                    </div>
                                    <hr class="horizontal violet">
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="Index" asp-controller="Identity" asp-area="Identity">Users</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="Index" asp-controller="Role" asp-area="Identity">Roles</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="Index" asp-controller="Product" asp-area="Admin">Products</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="Index" asp-controller="Customer" asp-area="Admin">Customers</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="Index" asp-controller="Event" asp-area="Admin">Events</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="Index" asp-controller="Job" asp-area="Admin">Jobs</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="Index" asp-controller="Campaign" asp-area="Admin">Campaigns</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="Index" asp-controller="Lead" asp-area="Admin">Leads</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="Index" asp-controller="Contact" asp-area="Admin">Contacts</a>

                                    
                                    <hr class="vertical green">
                                    <div class="dropdown-header text-white px-0 mt-3">
                                        <div class="d-inline-block">
                                            <div class="icon icon-shape icon-xs border-radius-md violet text-center me-2 d-flex align-items-center justify-content-center ps-0">
                                                <i class="fa-solid fa-money-bill-trend-up fa-menu-style"></i>
                                            </div>
                                        </div>
                                        Add Entities
                                    </div>
                                    <hr class="horizontal violet">
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="AddCampaignPage" asp-controller="Campaign" asp-area="Admin">Add Campaign</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="AddProductPage" asp-controller="Product" asp-area="Admin">Add Product</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="AddEventPage" asp-controller="Event" asp-area="Admin">Add Event</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="AddCustomerPage" asp-controller="Customer" asp-area="Admin">Add Customer</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="AddJobPage" asp-controller="Job" asp-area="Admin">Add Job</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="AddRole" asp-controller="Role" asp-area="Identity">Add Role</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="AddLeadPage" asp-controller="Lead" asp-area="Admin">Add A Lead</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="AddContactPage" asp-controller="Contact" asp-area="Admin">Add Contact</a>
                                    <a class="dropdown-item maven-pro-button text-white border-radius-md" asp-action="Calendar" asp-controller="Event" asp-area="Admin">Calendar</a>
                                </div>
                            </li>    
                            }
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid mb-11">
    <main role="main" class="pb-3" id="main">
        @RenderBody()
    </main>
</div>

<footer class="footer">
    <div class="container">
        <div class="row mt-11">
            <div class="col-12 col-md-5">
                <div class="text-center mx-auto">
                    <span><img height="80" width="80" src="~/img/logo-2.png" alt="Logo"/></span>
                    <h3 class="text-gradient text-primary maven-pro-button">Financial Dashboard</h3>
                    <div class="btn-group btn-sm">
                        <a href="https://linkedin.com" class="btn violet"><i class="fa-brands fa-linkedin text-white m-3"></i></a>
                        <a href="https://github.com" class="btn violet"><i class="fa-brands fa-github text-white m-3"></i></a>
                        <a href="https://stackoverflow.com" class="btn violet"><i class="fa-brands fa-stack-overflow text-white m-3"></i></a>
                        <a href="https://google.com" class="btn violet"><i class="fa-brands fa-google-plus-g text-white m-3"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <p class="my-4 text-sm text-gradient text-info maven-pro-button">
                        All rights reserved. Copyright © <script>
                            document.write(new Date().getFullYear())
                        </script> Created by Kevin Stradtman
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
<script src="~/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="~/assets/js/core/bootstrap.min.js" type="text/javascript"></script>

<script src="~/assets/js/plugins/perfect-scrollbar.min.js" type="text/javascript"></script>
<script src="~/assets/js/plugins/typedjs.js"></script>
<script src="~/assets/js/plugins/moment.min.js"></script>
<script src="~/assets/js/plugins/nouislider.min.js"></script>
<script src="~/assets/js/plugins/glidejs.min.js"></script>
<script src="~/assets/js/plugins/choices.min.js" type="text/javascript"></script>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js" type="text/javascript"></script>
<script src="~/js/card-vue.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js" type="text/javascript"></script>
<script src="~/js/fullcalendar/dist/index.global.min.js"></script>
<script src="~/assets/js/soft-design-system-pro.min.js" type="text/javascript"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/44.3.0/ckeditor5.umd.js" crossorigin></script>
<script src="https://cdn.ckeditor.com/ckeditor5-premium-features/44.3.0/ckeditor5-premium-features.umd.js" crossorigin></script>
<script src="https://cdn.ckbox.io/ckbox/2.6.1/ckbox.js" crossorigin></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/site.js"></script>
<script type="text/javascript">
    function openNav() {
        document.getElementById("sidenav").classList.add("open");
        document.getElementById("main").classList.add("shift");
    }
    function closeNav() {
        document.getElementById("sidenav").classList.remove("open");
        document.getElementById("main").classList.remove("shift");
    }
</script>
<script type="text/javascript">
    $(".datepicker").flatpickr({
        altInput: true,
        defaultFormat: "F j, Y",
        dateFormat: "M-d-Y",
        defaultDate: "today",
        minDate: "01-01-1940",
        maxDate: "12-31-2100",
        enableTime: true,
        styles: {
            font: "Ubuntu",
            fontsize: 18
        }
    });
</script>
@await Component.InvokeAsync("Notyf")
@RenderSection("Scripts", required: false)
</body>
</html>

