@model Dash.Areas.Identity.Models.RegisterViewModel
@{
    Layout = "_Layout";
}


<div class="row mt-11 mb-11">
    <div class="col-12 col-md-8 offset-md-2">
        <div class="card shadow-lg card-background-color">
            <div class="card-header bg-gradient-dark" style="display: flex; justify-content: space-between; align-items: center">
                <h1 class="green-text ubuntu-bold">Register</h1>
                <a class="btn blue text-white ubuntu-bold" asp-action="Login" asp-controller="Identity" asp-area="Identity">Go To Login</a>
            </div>
            <div class="card-body p-4">
                <form asp-action="Register" asp-controller="Identity" asp-area="Identity" method="post" autocomplete="off">
                    <div class="row m-2">
                        <div class="col-12 col-md-8 offset-md-1">
                            <div asp-validation-summary="All" class="cherry-text ubuntu-bold list-no-style"></div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="FirstName" class="form-label violet-text ubuntu-bold">First
                                    Name</label>
                                <input type="text"
                                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu"
                                       asp-for="FirstName">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="MiddleName" class="form-label violet-text ubuntu-bold">Middle
                                    Name</label>
                                <input type="text"
                                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu"
                                       asp-for="MiddleName">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="LastName" class="form-label violet-text ubuntu-bold">Last
                                    Name</label>
                                <input type="text"
                                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu"
                                       asp-for="LastName">
                            </div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="DateOfBirth" class="form-label ubuntu-bold violet-text">Date of
                                    Birth</label>
                                <input asp-for="DateOfBirth" id="dob"
                                       class="datepicker form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="DateOfHire" class="form-label ubuntu-bold violet-text">Date of
                                    Hire</label>
                                <input id="HireDate" asp-for="DateOfHire"
                                       class="datepicker form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                            </div>
                        </div>

                    </div>
                    <div class="row m-2">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="UserName"
                                       class="form-label violet-text ubuntu-bold">Username</label>
                                <input type="text"
                                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu"
                                       asp-for="UserName">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="Email" class="form-label violet-text ubuntu-bold">Email</label>
                                <input type="email"
                                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu"
                                       asp-for="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label asp-for="Address" class="form-label violet-text ubuntu-bold">Address</label>
                                <input type="text"
                                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu"
                                       asp-for="Address">
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label asp-for="City" class="form-label violet-text ubuntu-bold">City</label>
                                <input type="text"
                                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu"
                                       asp-for="City">
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label asp-for="State" class="form-label violet-text ubuntu-bold">State</label><br/>
                                <select asp-for="State" class="form-select-lg form-control form-control-lg bg-gradient-dark text-white ubuntu-bold bg-dark" style="cursor: pointer;" id="State">
                                    <option value="0">Select A State</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label asp-for="ZipCode" class="form-label violet-text ubuntu-bold">Zip Code</label>
                                <input type="text"
                                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu"
                                       asp-for="ZipCode">
                            </div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-12 col-md-6">
                            <div class="form-group password-container">
                                <label asp-for="Password"
                                       class="form-label ubuntu-bold violet-text">Password</label>
                                <input id="Password" asp-for="Password"
                                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                                <i class="fa-solid fa-eye-slash text-danger" id="togglePassword"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group password-container">
                                <label asp-for="ConfirmPassword"
                                       class="form-label ubuntu-bold violet-text">Password</label>
                                <input id="ConfirmPassword" asp-for="ConfirmPassword"
                                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                                <i class="fa-solid fa-eye-slash text-danger" id="toggleConfirmPassword"></i>
                            </div>
                        </div>
                    </div>
                    <div class="me-2 mx-2 mt-5 mb-3">
                        <input type="submit" class="btn violet d-block w-100 text-white ubuntu-bold text-2xl" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        const togglePassword = document.getElementById('togglePassword');
        togglePassword.addEventListener("click", function () {
            const passwordInput = document.getElementById("Password");
            const type = passwordInput.type === "password" ? "text" : "password";
            passwordInput.type = type;
            if (type === "password") {
                togglePassword.classList.remove("fa-eye");
                togglePassword.classList.remove("text-success");
                togglePassword.classList.add("fa-eye-slash");
                togglePassword.classList.add("text-danger");
            } else {
                togglePassword.classList.remove("fa-eye-slash");
                togglePassword.classList.remove("text-danger");
                togglePassword.classList.add("fa-eye");
                togglePassword.classList.add("text-success");
            }
        });
        const togglePasswordConfirm = document.getElementById("toggleConfirmPassword");
        togglePasswordConfirm.addEventListener("click", function () {
            const confirmPasswordInput = document.getElementById("ConfirmPassword");
            const type = confirmPasswordInput.type === "password" ? "text" : "password";
            confirmPasswordInput.type = type;
            if (type === "password") {
                togglePasswordConfirm.classList.remove("fa-eye");
                togglePasswordConfirm.classList.remove("text-success");
                togglePasswordConfirm.classList.add("fa-eye-slash");
                togglePasswordConfirm.classList.add("text-danger");
            } else {
                togglePasswordConfirm.classList.remove("fa-eye-slash");
                togglePasswordConfirm.classList.remove("text-danger");
                togglePasswordConfirm.classList.add("fa-eye");
                togglePasswordConfirm.classList.add("text-success");
            }
        })
    </script>
}