
@model Dash.Areas.Identity.Models.UpdateAppUserViewModel
@{
    Layout = "_Layout";
    var user = ViewBag.theUser;
}
<div class="container">
  <div class="row mt-11 mb-11">
    <div class="col-12 col-md-12">
      <div class="card shadow-lg p-3 bg-gradient-dark mb-3">
        <div class="card-header bg-gradient-dark" style="display: flex; justify-content: space-between; align-items: center">
          <h3 class="ubuntu-bold orange-text">Update User</h3>
          <div class="btn-group text-sm">
            <a class="btn bg-gradient-dark violet-text shadow-md ubuntu-bold btn-tooltip" asp-action="Index"
               asp-controller="Identity" asp-area="Identity" title="Go back to user list"><i class="fa-solid fa-backward-step"></i></a>
            <a class="btn bg-gradient-dark green-text shadow-md ubuntu-bold btn-tooltip" asp-action="Index"
               asp-controller="Dashboard" asp-area="Admin" title="Go back to admin dashboard"><i class="fa-solid fa-table-columns"></i></a>
          </div>
        </div>
        <div class="card-body bg-gradient-dark p-3">
          <form asp-action="UpdateUser" asp-controller="Identity" asp-route-id="@user?.Id" method="post" enctype="multipart/form-data">
            <div class="row m-2">
              <div class="col-12 col-md-8 offset-md-2">
                <div class="cherry-text ubuntu-bold list-no-style" asp-validation-summary="All"></div>
              </div>
            </div>
            <input type="hidden" name="_method" value="PUT">
            <div class="row m-2">
              <div class="col-12">
                <h6 class="text-gradient text-info ubuntu-bold">Image Preview</h6>
                <img id="previewImage" src="" alt="Image Preview"
                     style="width: auto; display: none; margin-top: 10px; height: 400px"/>
              </div>
            </div>
            <div class="row m-2">
              <div class="col-12 col-md-12">
                <div class="form-group">
                  <input asp-for="ImageUrl" value="@user?.ImageUrl" id="ImageUrl" style="display: none;"
                         accept="image/*">
                  <label asp-for="ImageUrl" class="btn bg-gradient-dark custom-file-button">Choose File</label>
                  <span id="fileName" class="file-name green-text text-sm ubuntu-bold">No file selected</span>
                  <span asp-validation-for="ImageUrl" class="text-danger m-2 p-2"></span>
                </div>
              </div>
            </div>
            <div class="row m-2">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label asp-for="DateOfBirth" class="ubuntu-bold text-gradient text-primary">Date of Birth</label>
                  @Html.TextBox("DateOfBirth", user?.DateOfBirth, "{0:MM/dd/yyyy}", new { @class = "datepicker form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold" })
                  <span asp-validation-for="DateOfBirth" class="text-danger m-2 p-2"></span>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label asp-for="DateOfHire" class="ubuntu-bold text-gradient text-primary">Hire Date</label>
                  @*<input asp-for="HireDate" value="@user?.HireDate?.ToString("MM/dd/yyyy")"
                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">*@
                  @Html.TextBox("DateOfHire", user?.DateOfHire, "{0:MM/dd/yyyy}", new { @class = "datepicker form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold" })
                  <span asp-validation-for="DateOfHire" class="text-danger m-2 p-2"></span>
                </div>
              </div>

            </div>

            <div class="row m-2">
              <div class="col-12 col-md-4">
                <div class="form-group">
                  <label asp-for="UserName" class="ubuntu-bold text-gradient text-primary">UserName</label>
                  <input asp-for="UserName" value="@user?.UserName"
                         class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                  <span asp-validation-for="UserName" class="text-danger m-2 p-2"></span>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="form-group">
                  <label asp-for="Email" class="ubuntu-bold text-gradient text-primary">Email</label>
                  <input asp-for="Email" value="@user?.Email"
                         class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                  <span asp-validation-for="Email" class="text-danger m-2 p-2"></span>
                </div>
              </div>

              <div class="col-12 col-md-4">
                <div class="form-group">
                  <label asp-for="PhoneNumber" class="ubuntu-bold text-gradient text-primary">Phone</label>
                  <input asp-for="PhoneNumber" value="@user?.PhoneNumber"
                         class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                  <span asp-validation-for="PhoneNumber" class="text-danger m-2 p-2"></span>
                </div>
              </div>
            </div>
            <div class="row m-2">
              <div class="col-12 col-sm-12 col-md-4">
                <div class="form-group">
                  <label asp-for="FirstName" class="ubuntu-bold text-gradient text-primary">First Name</label>
                  <input asp-for="FirstName" value="@user?.FirstName" id="FirstName"
                         class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                  <span asp-validation-for="FirstName" class="text-danger m-2 p-2"></span>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <div class="form-group">
                  <label asp-for="MiddleName" class="ubuntu-bold text-gradient text-primary">Middle Name</label>
                  <input asp-for="MiddleName" value="@user?.MiddleName"
                         class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                  <span asp-validation-for="MiddleName" class="text-danger m-2 p-2"></span>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <div class="form-group">
                  <label asp-for="LastName" class="ubuntu-bold text-gradient text-primary">Last Name</label>
                  <input asp-for="LastName" value="@user?.LastName"
                         class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                  <span asp-validation-for="LastName" class="text-danger m-2 p-2"></span>
                </div>
              </div>
            </div>
            <div class="row m-2">
              <div class="col-12 col-sm-12 col-md-3">
                <div class="form-group">
                  <label asp-for="Address" class="ubuntu-bold text-gradient text-primary">Address</label>
                  <input asp-for="Address" value="@user?.Address"
                         class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                  <span asp-validation-for="Address" class="text-danger m-2 p-2"></span>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-3">
                <div class="form-group">
                  <label asp-for="City" class="ubuntu-bold text-gradient text-primary">City</label>
                  <input asp-for="City" value="@user?.City" class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                  <span asp-validation-for="City" class="text-danger m-2 p-2"></span>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-3">
                <div class="form-group">
                  <label asp-for="State" class="ubuntu-bold text-gradient text-primary">State</label>
                  <input asp-for="State" value="@user?.State"
                         class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                  <span asp-validation-for="State" class="text-danger m-2 p-2"></span>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-3">
                <div class="form-group">
                  <label asp-for="ZipCode" class="ubuntu-bold text-gradient text-primary">Zip Code</label>
                  <input asp-for="ZipCode" value="@user?.ZipCode"
                         class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                  <span asp-validation-for="ZipCode" class="text-danger m-2 p-2"></span>
                </div>
              </div>
            </div>
            <div class="row m-2">
              <div class="col-12">
                <div class="form-group">
                  <label asp-for="Bio" class="ubuntu-bold text-gradient text-primary">Bio</label>
                  <div class="main-container">
                    <div class="editor-container editor-container_classic-editor editor-container_include-style" id="editor-container">
                      <div class="editor-container__editor">
                        <textarea asp-for="Bio" id="editor" cols="10" rows="10"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer mt-3 mb-3">
              <input type="submit" class="btn orange d-block w-100 ubuntu-bold text-white text-2xl" value="Update User"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script type="text/javascript">
    document.getElementById('ImageUrl').onchange = function (event) {
      let reader = new FileReader();
      reader.onload = function () {
        let output = document.getElementById('previewImage');
        output.src = reader.result;
        output.style.display = 'block';
      };
      reader.readAsDataURL(event.target.files[0]);
    };
    document.getElementById('ImageUrl').addEventListener('change', function (event) {
      let fileName = event.target.files.length > 0 ? event.target.files[0].name : "No file selected";
      document.getElementById('fileName').textContent = fileName;
    });
  </script>
}
