@using Dash.Areas.Identity.Models
@model AppUser
@{
    Layout = "_Layout";
}
<div class="container">
<div class="row mt-11 mb-11">
  <div class="col-12 col-md-12">
    <div class="card shadow-lg p-3 bg-gradient-dark mb-3">
      <div class="card-header bg-gradient-dark text-gradient text-primary" style="display: flex; justify-content: space-between; align-items: center">
        <h3 class="ubuntu-bold">Update User</h3>
        <a class="btn btn-outline-info text-gradient text-info ubuntu-bold" asp-action="Index" asp-controller="Dashboard" asp-area="Admin">Go Back</a>
        <div class="row mt-3 mb-3">
          <div class="col-12 col-md-6 offset-md-3">
            <div class="bg-gradient-danger">
              <p class="text-center text-white ubuntu-bold">@ViewBag.ErrorMessage</p>
            </div>
            <div class="bg-gradient-success">
              <p class="text-center text-white ubuntu-bold">@ViewBag.SuccessMessage</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body bg-gradient-dark p-3">
        <form asp-action="UpdateUser" asp-controller="Identity" asp-route-id="@Model?.Id" method="post" enctype="multipart/form-data">
          <input type="hidden" name="_method" value="PUT">
          <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
              <div asp-validation-summary="All" class="text-danger ubuntu-bold list-no-style"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h6 class="text-gradient text-info ubuntu-bold">Image Preview</h6>
              <img id="previewImage" src="" alt="Image Preview"
                   style="width: auto; display: none; margin-top: 10px; height: 400px"/>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="form-group">
                <input asp-for="ImageUrl" id="ImageUrl" value="@Model?.ImageUrl" style="display: none;"
                       accept="image/*">
                <label asp-for="ImageUrl" class="btn bg-gradient-dark custom-file-button">Choose File</label>
                <span id="fileName" class="file-name text-warning ubuntu-bold">No file selected</span>
                <span asp-validation-for="ImageUrl" class="text-danger m-2 p-2"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label asp-for="DateOfBirth" class="ubuntu-bold text-gradient text-primary">Date of Birth</label>
                @*<input asp-for="DOB" value="@user?.DOB?.ToString("MM/dd/yyyy")"
                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">*@
                @Html.TextBox("DateOfBirth", Model?.DateOfBirth?.ToString("MM/dd/yyyy"), new {@class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold"})
                <span asp-validation-for="DateOfBirth" class="text-danger m-2 p-2"></span>
                </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label asp-for="DateOfHire" class="ubuntu-bold text-gradient text-primary">Hire Date</label>
                @*<input asp-for="HireDate" value="@user?.HireDate?.ToString("MM/dd/yyyy")"
                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">*@
                @Html.TextBox("DateOfHire", Model?.DateOfHire?.ToString("MM/dd/yyyy"), new {@class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold"})
                <span asp-validation-for="DateOfHire" class="text-danger m-2 p-2"></span>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label asp-for="UserName" class="ubuntu-bold text-gradient text-primary">UserName</label>
                <input asp-for="UserName" value="@Model?.UserName"
                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                <span asp-validation-for="UserName" class="text-danger m-2 p-2"></span>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label asp-for="Email" class="ubuntu-bold text-gradient text-primary">Email</label>
                <input asp-for="Email" value="@Model?.Email"
                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                <span asp-validation-for="Email" class="text-danger m-2 p-2"></span>
              </div>
            </div>
            
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label asp-for="PhoneNumber" class="ubuntu-bold text-gradient text-primary">Phone</label>
                <input asp-for="PhoneNumber" value="@Model?.PhoneNumber"
                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                <span asp-validation-for="PhoneNumber" class="text-danger m-2 p-2"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
              <div class="form-group">
                <label asp-for="FirstName" class="ubuntu-bold text-gradient text-primary">First Name</label>
                <input asp-for="FirstName" value="@Model?.FirstName" id="FirstName"
                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                <span asp-validation-for="FirstName" class="text-danger m-2 p-2"></span>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <div class="form-group">
                <label asp-for="MiddleName" class="ubuntu-bold text-gradient text-primary">Middle Name</label>
                <input asp-for="MiddleName" value="@Model?.MiddleName"
                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                <span asp-validation-for="MiddleName" class="text-danger m-2 p-2"></span>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <div class="form-group">
                <label asp-for="LastName" class="ubuntu-bold text-gradient text-primary">Last Name</label>
                <input asp-for="LastName" value="@Model?.LastName"
                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                <span asp-validation-for="LastName" class="text-danger m-2 p-2"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-3">
              <div class="form-group">
                <label asp-for="Address" class="ubuntu-bold text-gradient text-primary">Address</label>
                <input asp-for="Address" value="@Model?.Address"
                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                <span asp-validation-for="Address" class="text-danger m-2 p-2"></span>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3">
              <div class="form-group">
                <label asp-for="City" class="ubuntu-bold text-gradient text-primary">City</label>
                <input asp-for="City" value="@Model?.City" class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                <span asp-validation-for="City" class="text-danger m-2 p-2"></span>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3">
              <div class="form-group">
                <label asp-for="State" class="ubuntu-bold text-gradient text-primary">State</label>
                <input asp-for="State" value="@Model?.State"
                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                <span asp-validation-for="State" class="text-danger m-2 p-2"></span>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3">
              <div class="form-group">
                <label asp-for="ZipCode" class="ubuntu-bold text-gradient text-primary">Zip Code</label>
                <input asp-for="ZipCode" value="@Model?.ZipCode"
                       class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
                <span asp-validation-for="ZipCode" class="text-danger m-2 p-2"></span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <input type="submit" class="btn bg-gradient-success" value="Update User"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
@section Scripts {
  <script type="text/javascript">
    document.getElementById('ImageUrl').onchange = function (event) {
      let reader = new FileReader();
      reader.onload = function () {
        let output = document.getElementById('previewImage');
        output.src = reader.result;
        output.style.display = 'block';
      };
      reader.readAsDataURL(event.target.files[0]);
    };
    document.getElementById('ImageUrl').addEventListener('change', function (event) {
      let fileName = event.target.files.length > 0 ? event.target.files[0].name : "No file selected";
      document.getElementById('fileName').textContent = fileName;
    });
  
  </script>
}