@model Dash.Areas.Identity.Models.AppUser
@{
    Layout = "_Layout";
}
<div class="container">
<div class="row mt-11 mb-11">
    <div class="col-12 col-md-6">
        <div class="card shadow-lg bg-gradient-dark">
            <div class="page-header min-vh-45 rounded"
                 style="background-image: url(@Url.Content($"~/Uploads/AppUsers/{Model?.ImageUrl}")); background-position: center; background-size: cover; background-repeat: no-repeat;">
                <div class="container">
                    <div class="row justify-content-center">
                    </div>
                </div>
                <div class="position-absolute w-100 z-index-1 bottom-0">
                    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                        <defs>
                            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
                        </defs>
                        <g class="moving-waves">
                            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(55,55,55,0.40"/>
                            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(55,55,55,0.35)"/>
                            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(55,55,55,0.25)"/>
                            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(55,55,55,0.20)"/>
                            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(55,55,55,0.15)"/>
                            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(55,55,55,1)"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card shadow-lg bg-gradient-dark">
            <div class="card-header bg-gradient-dark" style="display: flex; justify-content: space-between; align-items: center">
                <h1 class="text-gradient text-info ubuntu-bold">@Model?.FirstName's Details</h1>
                <div class="btn-group m-3">
                    <a class="btn bg-gradient-dark text-info shadow-md ubuntu-bold btn-tooltip" asp-action="Index" asp-controller="Identity" asp-area="Identity" title="Go back to the user list"><i class="fa-solid fa-backward-step"></i></a>
                    <a class="btn bg-gradient-dark text-warning shadow-md ubuntu-bold btn-tooltip" asp-action="UpdateUserPage" asp-controller="Identity" asp-area="Identity" asp-route-id="@Model?.Id" title="Edit @Model?.UserName"><i class="fa-solid fa-pen-to-square"></i></a>
                    <form asp-action="DeleteUser" asp-controller="Identity" asp-area="Identity" asp-route-id="@Model?.Id" method="post">
                        <button type="submit" class="btn bg-gradient-dark text-danger shadow-md ubuntu-bold btn-tooltip" title="Delete @Model?.UserName"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </div>
            </div>
            <div class="card-body p-4">
                <div class="text-white ubuntu">
                    <p class="violet-text lead ubuntu-bold">Name</p> 
                    @Model?.FirstName @Model?.MiddleName @Model?.LastName
                </div>
                <div class="text-white ubuntu">
                    <p class="violet-text lead ubuntu-bold">ID</p>
                    @Model?.Id
                </div>
                <div class="text-white ubuntu">
                    <p class="violet-text lead ubuntu-bold">Email</p>
                    @Model?.Email
                </div>
                <div class="text-white ubuntu">
                    <p class="violet-text lead ubuntu-bold">UserName</p>
                    @Model?.UserName
                </div>
                <div class="text-white ubuntu">
                    <p class="violet-text lead ubuntu-bold">PhoneNumber</p>
                    @Model?.PhoneNumber
                </div>
                <div class="text-white ubuntu">
                    <p class="violet-text lead ubuntu-bold">Address</p>
                    @Model?.Address @Model?.City, @Model?.State, @Model?.ZipCode
                </div>
                <div class="text-white ubuntu">
                    <p class="violet-text lead ubuntu-bold">Bio</p>
                    <hr class="horizontal green">
                    @Html.Raw(@Model?.Bio)
                </div>
            </div>
            </div>
        </div>
</div>
</div>