.moss {
    background-image: linear-gradient(120deg, #134e5e, #71b280);
    background-image: -moz-linear-gradient(120deg, #134e5e, #71b280);
    background-image: -webkit-linear-gradient(120deg, #134e5e, #71b280);
    background-image: -ms-linear-gradient(120deg, #134e5e, #71b280);
}
.moss-text {
    font-weight: bold;
    background: linear-gradient(120deg, #134e5e, #71b280);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.violet {
    background-image: linear-gradient(120deg, #4776e6, #8e54e9);
    background-image: -webkit-linear-gradient(120deg, #4776e6, #8e54e9);
    background-image: -moz-linear-gradient(120deg, #4776e6, #8e54e9);
    background-image: -ms-linear-gradient(120deg, #4776e6, #8e54e9);
}
.violet-text {
    font-weight: bold;
    background: linear-gradient(120deg, #4776e6, #8e54e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.steel-gray {
    background-image: linear-gradient(120deg, #1f1c2c, #928dab);
    background-image: -webkit-linear-gradient(120deg, #1f1c2c, #928dab);
    background-image: -moz-linear-gradient(120deg, #1f1c2c, #928dab);
    background-image: -ms-linear-gradient(120deg, #1f1c2c, #928dab);
}
.steel-gray-text {
    font-weight: bold;
    background: linear-gradient(120deg, #1f1c2c, #928dab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cherry {
    background-image: linear-gradient(120deg, #eb3349, #f45c43);
    background-image: -webkit-linear-gradient(120deg, #eb3349, #f45c43);
    background-image: -moz-linear-gradient(120deg, #eb3349, #f45c43);
    background-image: -ms-linear-gradient(120deg, #eb3349, #f45c43);
}
.cherry-text {
    font-weight: bold;
    background: linear-gradient(120deg, #eb3349, #f45c43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.striped-blue-green {
    background-image: linear-gradient(120deg, #1fa2ff, #12d8fa, #a6ffcb);
    background-image: -webkit-linear-gradient(120deg, #1fa2ff, #12d8fa, #a6ffcb);
    background-image: -moz-linear-gradient(120deg, #1fa2ff, #12d8fa, #a6ffcb);
    background-image: -ms-linear-gradient(120deg, #1fa2ff, #12d8fa, #a6ffcb);
}
.striped-blue-green-text {
    font-weight: bold;
    background: linear-gradient(120deg, #1fa2ff, #12d8fa, #a6ffcb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.aqua-marine {
    background-image: linear-gradient(120deg, #1a2980, #26d0ce);
    background-image: -webkit-linear-gradient(120deg, #1a2980, #26d0ce);
    background-image: -moz-linear-gradient(120deg, #1a2980, #26d0ce);
    background-image: -ms-linear-gradient(120deg, #1a2980, #26d0ce);
}
.aqua-marine-text {
    font-weight: bold;
    background: linear-gradient(120deg, #1a2980, #26d0ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.maroon {
    background-image: linear-gradient(120deg, #aa076b, #61045f);
    background-image: -webkit-linear-gradient(120deg, #aa076b, #61045f);
    background-image: -moz-linear-gradient(120deg, #aa076b, #61045f);
    background-image: -ms-linear-gradient(120deg, #aa076b, #61045f);
}
.maroon-text {
    font-weight: bold;
    background: linear-gradient(120deg, #aa076b, #61045f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.horizon {
    background-image: linear-gradient(120deg, #003973, #e5e5be);
    background-image: -moz-linear-gradient(120deg, #003973, #e5e5be);
    background-image: -ms-linear-gradient(120deg, #003973, #e5e5be);
    background-image: -webkit-linear-gradient(120deg, #003973, #e5e5be);
}
.horizon-text {
    font-weight: bold;
    background: linear-gradient(120deg, #003973, #e5e5be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sprite {
    background-image: linear-gradient(120deg, #3ca55c, #b5ac49);
    background-image: -moz-linear-gradient(120deg, #3ca55c, #b5ac49);
    background-image: -ms-linear-gradient(120deg, #3ca55c, #b5ac49);
    background-image: -webkit-linear-gradient(120deg, #3ca55c, #b5ac49);
}
.sprite-text {
    font-weight: bold;
    background: linear-gradient(120deg, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sea {
    background-image: linear-gradient(120deg, #2b5876, #4e4376);
    background-image: -moz-linear-gradient(120deg, #2b5876, #4e4376);
    background-image: -ms-linear-gradient(120deg, #2b5876, #4e4376);
    background-image: -webkit-linear-gradient(120deg, #2b5876, #4e4376);
}
.sea-text {
    font-weight: bold;
    background: linear-gradient(120deg, #2b5876, #4e4376);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.orange {
    background-image: linear-gradient(120deg, #e65c00, #f9d423);
    background-image: -moz-linear-gradient(120deg, #e65c00, #f9d423);
    background-image: -ms-linear-gradient(120deg, #e65c00, #f9d423);
    background-image: -webkit-linear-gradient(120deg, #e65c00, #f9d423);
}
.orange-text {
    font-weight: bold;
    background: linear-gradient(120deg, #e65c00, #f9d423);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.blue {
    background-image: linear-gradient(120deg, #1488cc, #2b32b2);
    background-image: -moz-linear-gradient(120deg, #1488cc, #2b32b2);
    background-image: -ms-linear-gradient(120deg, #1488cc, #2b32b2);
    background-image: -webkit-linear-gradient(120deg, #1488cc, #2b32b2);
}
.blue-text {
    font-weight: bold;
    background: linear-gradient(120deg, #1488cc, #2b32b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.green {
    background-image: linear-gradient(120deg, #56ab2f, #a8e063);
    background-image: -moz-linear-gradient(120deg, #56ab2f, #a8e063);
    background-image: -ms-linear-gradient(120deg, #56ab2f, #a8e063);
    background-image: -webkit-linear-gradient(120deg, #56ab2f, #a8e063);
}
.green-text {
    font-weight: bold;
    background: linear-gradient(120deg, #56ab2f, #a8e063);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}