@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
  --fc-font-family-main: "Ubuntu", serif;
  --fc-font-color-main: white;
  --fc-button-active-bg-color: rgba(55,55,55,1) !important;
  --fc-button-active-text-color: dodgerblue !important;
  --fc-button-bg-color: linear-gradient(90deg, dodgerblue, indigo) !important;
  --fc-button-bg-color: -webkit-linear-gradient(90deg, dodgerblue, indigo) !important;
  --fc-button-bg-color: -moz-linear-gradient(90deg, dodgerblue, indigo) !important;
  --fc-button-bg-color: -ms-linear-gradient(90deg, dodgerblue, indigo) !important;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*  Fonts  */

.ubuntu-light {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: italic;
}

/*  End Fonts  */

/*  Nav  */

.dropdown-toggle::after {
  display: none;
}
.dropdown-menu.show::before {
  display: none;
}
nav.navbar-expand-lg {
  width: 65% !important;
  margin: 1% auto !important;
}
.nav-link {
  cursor: pointer;
}
.nav-link.active {
  border: 1px solid darkorange !important;
}
.nav.nav-tabs {
  border-bottom: none;
}
.dropdown-toggle {
  display: block !important;
  text-align: center !important;
  margin: 0 auto !important;
}
.menu-link {
  font-family: "Ubuntu", serif !important;
  font-size: 1.3rem !important;
  font-weight: 700 !important;
  z-index: 100000000000 !important;
  margin: -1% auto !important;
}
.menu-link > .dropdown-menu {
  display: inline-block !important;
  position: absolute !important;
  z-index: 100000000000 !important;
}
.fa-menu-style {
  font-size: 12px !important;
  position: relative !important;
  top: 1% !important;
}
.dropdown-item.ubuntu-bold.text-white:hover {
  color: dodgerblue !important;
  background-color: rgba(55,55,55,0.8) !important;
}
#Country option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: linear-gradient(120deg, rgba(22,22,22,0.7), rgba(225,225,225,0.8)) !important;
  background-image: -moz-linear-gradient(120deg, rgba(22,22,22,0.7), rgba(225,225,225,0.8)) !important;
  background-image: -ms-linear-gradient(120deg, rgba(22,22,22,0.7), rgba(225,225,225,0.8)) !important;
  background-image: -webkit-linear-gradient(120deg, rgba(22,22,22,0.7), rgba(225,225,225,0.8)) !important;
}
/*  End Nav  */


/*  Forms  */
label {
  font-size: 14px !important;
  font-family: "Ubuntu", serif !important;
  font-weight: 700 !important;
}
.validation-summary {
  list-style-type: none;
  color: tomato;
}
.colorpick-eyedropper-input-trigger {
  display: none;
}
.btn-group > a > i {
  font-size: 17px !important;
}
.display-inline {
  display: inline !important;
}
select {
  cursor: pointer !important;
}
/*  End Forms  */

.list-group {
  background-image: linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -webkit-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -moz-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -ms-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
}
.fc-toolbar-title {
  color: dodgerblue !important;
}
.fc-header-toolbar .fc-button-group .fc-button-active.fc-button.fc-button-primary {
  color: dodgerblue !important;
  background-image: linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -webkit-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -moz-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -ms-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
}

.fc-button.fc-button-primary {
  background-image: linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -webkit-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -moz-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -ms-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
}

.fc-resourceTimelineDay-button,
.fc-resourceTimelineThreeDays-button,
.fc-timeGridWeek-button,
.fc-dayGridMonth-button,
.fc-listWeek-button {
  color: white;
  background-image: linear-gradient(90deg, dodgerblue, indigo) !important;
  background-image: -webkit-linear-gradient(90deg, dodgerblue, indigo) !important;
  background-image: -moz-linear-gradient(90deg, dodgerblue, indigo) !important;
  background-image: -ms-linear-gradient(90deg, dodgerblue, indigo) !important;

}
#job-calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > div > button.fc-timeGridWeek-button.fc-button.fc-button-primary,
#job-calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > div > button.fc-resourceTimelineThreeDays-button.fc-button-primary,
#job-calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > div > button.fc-dayGridMonth-button.fc-button.fc-button-primary,
#job-calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > div > button.fc-listWeek-button.fc-button.fc-button-primary,
#job-calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div > button {
  color: white;
  background-image: linear-gradient(90deg, dodgerblue, indigo) !important;
  background-image: -webkit-linear-gradient(90deg, dodgerblue, indigo) !important;
  background-image: -moz-linear-gradient(90deg, dodgerblue, indigo) !important;
  background-image: -ms-linear-gradient(90deg, dodgerblue, indigo) !important;
}
.fc-toolbar-title,
.fc-daygrid-day-number {
  color: dodgerblue !important;
}

.card-container {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-wrap {
  margin: 10px;
  transform: perspective(400px);
  transform-style: preserve-3d;
  cursor: pointer;
}
.card-wrap:hover .card-info {
  transform: translateY(0);
}
.card-wrap:hover .card-info p {
  opacity: 1;
}
.card-wrap:hover .card-info,
.card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  transform: translateY(0);
}
.card-wrap:hover .card-bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}
.card-wrap:hover .card-vue {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card-vue {
  position: relative;
  flex: 0 0 240px;
  width: 440px;
  height: 520px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -5px;
  left: -10px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
  text-align: left;
  opacity: 0;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info * {
  position: relative;
  z-index: 1;
}
.card-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h6 {
  font-family: "Ubuntu", serif;
  font-weight: 700;
}

.password-container {
  position: relative;
  width: 100%; /* Adjust based on your layout */
}

.password-container input {
  width: 100%;
  padding-right: 2.5rem; /* Space for the icon */
  box-sizing: border-box;
}
#togglePassword,
#toggleConfirmPassword {
  position: absolute;
  right: 0.5rem;
  top: 65%;
  transform: translateY(-60%);
  cursor: pointer;
  font-size: 1.2rem;
}


.card .card-stats {
  background: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card .card-stats .author,
.card .card-stats .stats {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.card-plain {
  background: 0 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.card-plain .card-header:not(.card-avatar) {
  margin-left: 0;
  margin-right: 0;
}
.card-plain .card-header:not(.card-avatar) .card-category,
.card-plain .card-header:not(.card-avatar) .card-description {
  color: #999;
}
.card-plain .card-header-image {
  margin: 0 !important;
  border-radius: 6px;
}
.card-plain .card-footer {
  background-color: transparent;
}
.card-profile,
.card-testimonial {
  margin-top: 30px;
  text-align: center;
}
.card-profile .card-avatar,
.card-testimonial .card-avatar {
  margin: -50px auto 0;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
  0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
  0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card-profile .card-avatar + .card-body,
.card-testimonial .card-avatar + .card-body {
  margin-top: 15px;
}
.card-profile .card-avatar img,
.card-testimonial .card-avatar img {
  width: 100%;
  height: auto;
}
.card-profile .card-body + .card-footer,
.card-testimonial .card-body + .card-footer {
  margin-top: -15px;
}
.card-profile .card-footer .btn.btn-just-icon,
.card-testimonial .card-footer .btn.btn-just-icon {
  font-size: 20px;
  padding: 12px;
  line-height: 1em;
}
.card-plain.card-profile .card-avatar,
.card-plain.card-testimonial .card-avatar {
  margin-top: 0;
}
.card-testimonial .card-avatar {
  max-width: 100px;
  max-height: 100px;
}
.card-testimonial .card-footer {
  margin-top: 0;
  display: block;
}
.card-testimonial .card-footer .card-avatar {
  margin-top: 10px;
  margin-bottom: -60px;
}
.card-testimonial .card-description {
  font-style: italic;
}
.card-testimonial .card-description + .card-title,
.card-testimonial .icon {
  margin-top: 30px;
}
.card-testimonial .icon .material-icons {
  font-size: 40px;
}
.card-profile .card-header:not([class*="card-header-"]) {
  background: 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.card-profile .card-avatar {
  max-width: 130px;
  max-height: 130px;
}
.card {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.card .table tr:first-child td {
  border-top: none;
}
.card .card-title {
  margin-top: 0;
  margin-bottom: 3px;
}
.card .card-body {
  padding: 0.9375rem 20px;
  position: relative;
}
.card .card-header {
  z-index: 2 !important;
}
.card .card-header .card-category {
  margin: 0;
}
.card .card-header.card-header-text {
  display: inline-block;
}
.card .card-header.card-header-text:after {
  content: "";
  display: table;
}
.card .card-header.card-header-icon i,
.card .card-header.card-header-text i {
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px;
}
.card .card-header.card-header-icon .card-title,
.card .card-header.card-header-text .card-title {
  margin-top: 15px;
  color: #3c4858;
}
.card .card-header.card-header-icon h4,
.card .card-header.card-header-text h4 {
  font-weight: 300;
}
.card .card-header.card-header-tabs .nav-tabs {
  background: 0 0;
  padding: 0;
}
.card .card-header.card-header-tabs .nav-tabs-title {
  float: left;
  padding: 10px 10px 10px 0;
  line-height: 24px;
}
.card.card-plain .card-header.card-header-icon + .card-body .card-category,
.card.card-plain .card-header.card-header-icon + .card-body .card-title {
  margin-top: -20px;
}
.card.card-chart .card-footer i:nth-child(1n + 2) {
  width: 18px;
  text-align: center;
}
.card.card-chart .card-category {
  margin: 0;
}
.card .card-body + .card-footer,
.card .card-footer {
  padding: 10px 0 0;
  margin: 0 15px 10px;
  border-radius: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card .card-body + .card-footer h6,
.card .card-footer h6 {
  width: 100%;
}
.card .card-body + .card-footer .stats,
.card .card-footer .stats {
  color: #999;
  font-size: 12px;
  line-height: 22px;
}
.card .card-body + .card-footer .stats .card-category,
.card .card-footer .stats .card-category {
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
}
.card .card-body + .card-footer .stats .material-icons,
.card .card-footer .stats .material-icons {
  position: relative;
  top: 4px;
  font-size: 16px;
}
.card [class*="card-header-"] {
  margin: 0 15px;
  padding: 0;
  position: relative;
}
.card
[class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
}
.card [class*="card-header-"] .card-icon,
.card [class*="card-header-"] .card-text {
  border-radius: 3px;
  background-color: #999;
  padding: 15px;
  margin-top: -20px;
  margin-right: 15px;
  float: left;
}
.card [class*="card-header-"] .card-text {
  float: none;
  display: inline-block;
  margin-right: 0;
}
.card [class*="card-header-"] .card-text .card-title {
  color: #fff;
  margin-top: 0;
}
.card [class*="card-header-"] .card-title + .card-category {
  color: rgba(255, 255, 255, 0.62);
}
.card [class*="card-header-"] .card-title + .card-category a,
.card [class*="card-header-"] .ct-chart .card-title {
  color: #fff;
}
.card [class*="card-header-"] .ct-chart .card-category {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.62);
}
.card [class*="card-header-"] .ct-chart .ct-label {
  color: rgba(255, 255, 255, 0.7);
}
.card [class*="card-header-"] .ct-chart .ct-grid {
  stroke: rgba(255, 255, 255, 0.2);
}
.card [class*="card-header-"] .ct-chart .ct-series-a .ct-bar,
.card [class*="card-header-"] .ct-chart .ct-series-a .ct-line,
.card [class*="card-header-"] .ct-chart .ct-series-a .ct-point,
.card [class*="card-header-"] .ct-chart .ct-series-a .ct-slice-donut {
  stroke: rgba(255, 255, 255, 0.8);
}
.card [class*="card-header-"] .ct-chart .ct-series-a .ct-area,
.card [class*="card-header-"] .ct-chart .ct-series-a .ct-slice-pie {
  fill: rgba(255, 255, 255, 0.4);
}
.card [class*="card-header-"] .ct-chart .ct-series-a .ct-bar {
  stroke-width: 10px;
}
.card [class*="card-header-"] .ct-chart .ct-point {
  stroke-width: 10px;
  stroke-linecap: round;
}
.card [class*="card-header-"] .ct-chart .ct-line {
  fill: none;
  stroke-width: 4px;
}
.card [data-header-animation="true"] {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
}
.card:hover [data-header-animation="true"] {
  -webkit-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
}
.card.card-stats .card-header.card-header-icon,
.card.card-stats .card-header.card-header-text {
  text-align: right;
}
.card.card-stats .card-header .card-icon + .card-category,
.card.card-stats .card-header .card-icon + .card-title {
  padding-top: 10px;
}
.card.card-stats .card-header .card-category,
.card.card-stats .card-header .card-title {
  margin: 0;
}
.card.card-stats .card-header .card-category {
  margin-bottom: 0;
  margin-top: 0;
}
.card.card-stats .card-header .card-category:not([class*="text-"]) {
  color: #999;
  font-size: 14px;
}
.card.card-stats .card-header + .card-footer {
  border-top: 1px solid #eee;
  margin-top: 14px;
}
.card.card-stats .card-header i {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
  text-align: center;
}
.card.card-stats .card-body {
  text-align: right;
}
.card .map {
  height: 280px;
  border-radius: 6px;
  margin-top: 15px;
}
.card .map.map-big {
  height: 420px;
}
.card .card-body.table-full-width {
  padding: 0;
}
.card .card-plain .card-header-icon {
  margin-right: 15px !important;
}
.iframe-container {
  margin: 0 -20px;
}
.iframe-container iframe {
  width: 100%;
  height: 500px;
  border: 0;
  -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
  0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
  0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card-chart .card-body + .card-footer,
.card-product .card-body + .card-footer {
  border-top: 1px solid #eee;
}
.card-product .price {
  color: inherit;
}
.card-collapse {
  margin-bottom: 15px;
}
.card-collapse .card .card-header a[aria-expanded="true"] {
  color: #e91e63;
}
.card .card-body .col-form-label,
.card .card-body .label-on-right {
  padding: 16px 5px 0 0;
  text-align: right;
}
.card .card-body .label-on-right {
  text-align: left;
}
.card .card-body .form-group {
  margin: 27px 0 0;
}
.card .label-on-right code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.card .tab-content .form-check {
  margin-top: -15px;
}
.carousel .card,
.form-check + .form-check {
  margin-top: 0;
}
.card-wizard .input-group .form-group {
  width: 80%;
}
.fa-solid.fa-users-rectangle,
.fa-solid.fa-briefcase,
.fa-solid.fa-bag-shopping,
.fa-solid.fa-shop,
.fa-regular.fa-pen-to-square,
.fa-solid.fa-location-dot,
.fa-solid.fa-circle-info,
.fa-regular.fa-calendar-days,
.fa-solid.fa-store,
.fa-solid.fa-circle-exclamation {
  font-size: 24px;
}
.job-calendar {
  position: relative;
  bottom: 10%;
}
.nav.nav-pills.nav-fill {
  background: transparent !important;
}
#line-chart-gradient {
  width: 100%;
  height: 300px;
}
#bar-chart {
  width: 100%;
  height: 300px;
}
.line-chart-card {
  position: relative;
  bottom: 50% !important;
}
td > a >.fa-solid.fa-list,
td > a >.fa-regular.fa-pen-to-square,
td > a >.fa-regular.fa-trash-can {
  font-size: 14px !important;
}
.nav.nav-pills.nav-fill {
  background: transparent !important;
}

.custom-file-button {
  display: inline;
  font-family: "Ubuntu", serif !important;
  cursor: pointer !important;
}

.list-group {
  background-image: linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -webkit-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -moz-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -ms-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
}
/*    START Calendar      */
#calendar {
  width: 100%;
  height: auto;
}
.fc-toolbar-title {
  font-family: "Ubuntu", serif !important;
  color: limegreen !important;
  font-weight: 700 !important;
  font-size: 2rem !important;
  text-align: center !important;
}
.text-shadow-btn {
  text-shadow: 1px 2px 2px #222222;
}

.fc-resourceTimelineDay-button.fc-button.fc-button-primary,
.fc-resourceTimelineThreeDays-button.fc-button.fc-button-primary,
.fc-timeGridWeek-button.fc-button.fc-button-primary,
.fc-dateGridWeek-button.fc-button.fc-button-primary,
.fc-listWeek-button.fc-button.fc-button-primary {
  background-image: linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -webkit-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -moz-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  background-image: -ms-linear-gradient(90deg, rgb(22,22,22), rgb(80,80,80)) !important;
  color: limegreen !important;
  font-family: "Ubuntu", serif !important;
  font-weight: 500 !important;
}
.fc-button-primary:hover {
  background-image: linear-gradient(90deg, indigo, rgb(0, 0, 200)) !important;
  background-image: -webkit-linear-gradient(90deg, indigo, rgb(0, 0, 200)) !important;
  background-image: -moz-linear-gradient(90deg, indigo, rgb(0, 0, 200)) !important;
  background-image: -ms-linear-gradient(90deg, indigo, rgb(0, 0, 200)) !important;
  font-family: "Ubuntu", serif !important;
  color: white !important;
  font-weight: 700 !important;
  transition-duration: 0.6s !important;
  transition-timing-function: ease-in-out !important;
  transition: all !important;
}
.fc-button-primary:active {
  background-image: linear-gradient(90deg, indigo, rgb(0, 0, 200)) !important;
  background-image: -webkit-linear-gradient(90deg, indigo, rgb(0, 0, 200)) !important;
  background-image: -moz-linear-gradient(90deg, indigo, rgb(0, 0, 200)) !important;
  background-image: -ms-linear-gradient(90deg, indigo, rgb(0, 0, 200)) !important;
  font-family: "Ubuntu", serif !important;
  color: white !important;
  font-weight: 700 !important; 
}
.fc-event {
  height: 20px !important;
}
.fc-event > .fc-event-main > .fc-event-main-frame > .fc-event-title-container > .fc-event-title {
  position: relative !important;
  bottom: 10% !important;
  font-family: "Ubuntu", serif !important;
  font-weight: 600 !important;
  font-size: 0.95rem !important;
}
/*     END Calendar     */



/*Image Card*/

.container-image {
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 10px;
  transform: perspective(400px);
  transform-style: preserve-3d;
  cursor: pointer;
}
.card-wrap:hover .card-info {
  transform: translateY(0);
}
.card-wrap:hover .card-info div,
.card-wrap:hover .card-info div > a,
.card-wrap:hover .card-info p {
  opacity: 1;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  transform: translateY(0);
}
.card-wrap:hover .card-vue {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}
.card-wrap:hover .card-vue {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card-vue {
  position: relative;
  flex: 0 0 240px;
  width: 240px;
  height: 320px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(20%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info * {
  position: relative;
  z-index: 1;
}
.card-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(80%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
  font-family: "Ubuntu", serif !important;
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

/*END Image Card*/
a.m-3.btn-tooltip {
  cursor: pointer !important;
}


.fa-solid.fa-lock {
  color: darkorange;
}
.fa-solid.fa-calendar-days {
  color: lime;
}
.fa-solid.fa-xmark {
  color: red;
}
.fa-solid.fa-pen-to-square.message {
  color: lime;
}
.fa-solid.fa-check {
  color: lime;
}
.text-indigo {
  color: indigo !important;
}
.dropdown > .dropdown-toggle {
  font-size: 1rem !important;
}
.list-no-style {
  list-style-type: none;
}
th {
  font-size: 1rem !important;
}