@using Dash.Areas.Admin.Models
@model IEnumerable<Dash.Areas.Admin.Models.Campaigns>

@{
    Layout = "_Layout";
}

<div class="row mt-11 mb-11 p-7">
    <div class="col-12 col-md-12">
        <div class="card shadow-lg bg-gradient-dark">
            <div class="card-header bg-gradient-dark" style="display: flex; justify-content: space-between; align-items: center">
                <h1 class="text-gradient text-warning ubuntu-bold">All Campaigns</h1>
                <div class="btn-group m-3">
                    <a class="btn bg-gradient-dark text-info shadow-md ubuntu-bold btn-tooltip" asp-action="Index" asp-controller="Dashboard" asp-area="Admin" title="Go back to the admin dashboard"><i class="fa-solid fa-backward-step"></i></a>
                    <a class="btn bg-gradient-dark text-success shadow-md ubuntu-bold btn-tooltip" asp-action="AddCampaignPage" asp-controller="Campaign" asp-area="Admin" title="Add Campaign"><i class="fa-solid fa-plus"></i></a>
                    </div>
            </div>
            <div class="card-body p-3">
                <div class="row">
                    @foreach (Campaigns campaign in Model)
                    {
                        <div class="col-12 col-md-3">
                            <a asp-action="CampaignDetails" asp-controller="Campaign" asp-route-id="@campaign.CampaignId" asp-area="Admin">
                                <div class="card card-background shadow-xl">
                                    <div class="full-background" style="background-image: url('@Url.Content($"~/assets/img/curved-images/curved11.jpg")')"></div>
                                    <div class="card-body pt-12">
                                        <h4 class="text-white ubuntu-bold">@campaign.Title</h4>
                                    </div>
                                </div>
                            </a>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>



