@model Dash.Areas.Admin.Models.Campaigns
@{
    Layout = "_Layout";
}

<div class="row mt-7 mb-7">
    <div class="col-12 col-md-12 col-lg-8 offset-lg-2">
        <div class="card shadow-lg bg-gradient-dark">
            <div class="card-header bg-gradient-dark" style="display: flex; justify-content: space-between; align-items: center">
                <h1 class="text-gradient text-warning ubuntu-bold">Update Campaign</h1>
                <div class="btn-group text-sm">
                    <a class="btn bg-gradient-dark violet-text shadow-md ubuntu-bold btn-tooltip" asp-action="Index"
                       asp-controller="Campaign" asp-area="Admin" title="Go back to campaign list"><i
                            class="fa-solid fa-backward-step"></i></a>
                    <a class="btn bg-gradient-dark green-text shadow-md ubuntu-bold btn-tooltip" asp-action="Index"
                       asp-controller="Dashboard" asp-area="Admin" title="Go back to admin dashboard"><i class="fa-solid fa-table-columns"></i></a>
                </div>
            </div>
            <div class="card-body p-5">

                <form class="form" asp-action="UpdateCampaign" asp-controller="Campaign" asp-route-id="@Model.CampaignId" asp-area="Admin" method="post">
                    <div class="row m-2">
                        <div class="col-12 col-md-8 offset-md-2">
                            <div asp-validation-summary="All" class="cherry-text ubuntu-bold list-no-style"></div>
                        </div>
                    </div>
                    <input type="hidden" name="_method" value="PUT">
                    <div class="row m-2">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="Title" class="form-label text-gradient text-info ubuntu-bold">Title</label>
                                <input asp-for="Title" value="@Model?.Title" class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu" id="Title"/>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="Type" class="form-label text-gradient text-info ubuntu-bold">Type</label>
                                <select asp-for="Type" id="Type" value="@Model?.Type" class="form-select-lg form-control form-control-lg bg-gradient-dark text-white ubuntu-bold bg-dark" >
                                    <option value="Individual">Individual</option>
                                    <option value="Enterprise">Enterprise</option>
                                    <option value="Family Owned">Family Owned</option>
                                    <option value="Sole Proprietor">Sole Proprietor</option>
                                    <option value="Company">Company</option>
                                    <option value="Undefined">Undefined</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="Status" class="form-label text-gradient text-info ubuntu-bold">Status</label>
                                <select asp-for="Status" value="@Model?.Status" id="Status" class="form-select-lg form-control form-control-lg bg-gradient-dark text-white ubuntu-bold bg-dark" >
                                    <option value="Created">Created</option>
                                    <option value="Processing">Processing</option>
                                    <option value="Started">Started</option>
                                    <option value="Midway">Midway</option>
                                    <option value="Finished">Finished</option>
                                    <option value="Turned In">Turned In</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="StartDate" class="form-label text-gradient text-info ubuntu-bold">Start Date</label>
                                @Html.TextBox("StartDate", Model?.StartDate, Model?.StartDate.ToString("d"), new {@class="datepicker form-control datepicker form-control-lg color-background bg-gradient-dark text-white ubuntu"})
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="EndDate" class="form-label text-gradient text-info ubuntu-bold">End Date</label>
                                @Html.TextBox("EndDate", Model?.EndDate, Model?.EndDate.ToString("d"), new {@class="datepicker form-control datepicker form-control-lg color-background bg-gradient-dark text-white ubuntu"})
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="Budget" class="form-label text-gradient text-info ubuntu-bold">Budget</label>
                                <input asp-for="Budget" value="@Model?.Budget" class="form-control form-control-lg color-background bg-gradient-dark ubuntu-bold text-white" id="Budget">
                            </div>        
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="Spend" class="form-label text-gradient text-info ubuntu-bold">Spend</label>
                                <input asp-for="Spend" value="@Model?.Spend" class="form-control form-control-lg color-background bg-gradient-dark ubuntu-bold text-white" id="Spend">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="TargetAudience" class="form-label text-gradient text-info ubuntu-bold">Target Audience</label>
                                <input asp-for="TargetAudience" value="@Model?.TargetAudience" class="form-control form-control-lg color-background bg-gradient-dark ubuntu-bold text-white" id="TargetAudience">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="Channel" class="form-label text-gradient text-info ubuntu-bold">Channel</label>
                                <input asp-for="Channel" value="@Model?.Channel" class="form-control form-control-lg color-background bg-gradient-dark ubuntu-bold text-white" id="Channel">
                            </div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="Goals" class="form-label text-gradient text-info ubuntu-bold">Goals</label>
                                <input asp-for="Goals" value="@Model?.Goals" class="form-control form-control-lg color-background bg-gradient-dark ubuntu-bold text-white" id="Goals">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="RevenueTarget" class="form-label text-gradient text-info ubuntu-bold">Revenue Target</label>
                                <input asp-for="RevenueTarget" value="@Model?.RevenueTarget" class="form-control form-control-lg color-background bg-gradient-dark ubuntu-bold text-white" id="RevenueTarget">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="ActualRevenue" class="form-label text-gradient text-info ubuntu-bold">Actual Revenue</label>
                                <input asp-for="ActualRevenue" value="@Model?.ActualRevenue" class="form-control form-control-lg color-background bg-gradient-dark ubuntu-bold text-white" id="ActualRevenue">
                            </div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="Impressions" class="form-label text-gradient text-info ubuntu-bold">Impressions</label>
                                <input asp-for="Impressions" value="@Model?.Impressions" class="form-control form-control-lg color-background bg-gradient-dark ubuntu-bold text-white" id="Impressions">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="Clicks" class="form-label text-gradient text-info ubuntu-bold">Clicks</label>
                                <input asp-for="Clicks" value="@Model?.Clicks" class="form-control form-control-lg color-background bg-gradient-dark ubuntu-bold text-white" id="Clicks">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="LeadsGenerated" class="form-label text-gradient text-info ubuntu-bold">Leads Generated</label>
                                <input asp-for="LeadsGenerated" value="@Model?.LeadsGenerated" class="form-control form-control-lg color-background bg-gradient-dark ubuntu-bold text-white" id="LeadsGenerated">
                            </div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="Conversions" class="form-label text-gradient text-info ubuntu-bold">Conversions</label>
                                <input asp-for="Conversions" value="@Model?.Conversions" class="form-control form-control-lg color-background bg-gradient-dark ubuntu-bold text-white" id="Conversions">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="ROI" class="form-label text-gradient text-info ubuntu-bold">Return On Investment</label>
                                <input asp-for="ROI" value="@Model?.ROI" class="form-control form-control-lg color-background bg-gradient-dark ubuntu-bold text-white" id="ROI">
                            </div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Description" class="form-label text-gradient text-info ubuntu-bold">Description</label>
                                <div class="main-container">
                                    <div class="editor-container editor-container_classic-editor editor-container_include-style" id="editor-container">
                                        <div class="editor-container__editor">
                                            <textarea asp-for="Description" id="editor" cols="10" rows="10" onload="Description()"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-2">
                        <button type="submit" class="btn violet btn-lg w-100 ubuntu-bold text-white text-2xl">Update Campaign</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function Description() {
            ClassicEditor
                .create(document.querySelector('#editor'), {
                    initialData: @Html.Raw(Model.Description)
                });
        }
    </script>
}