@model Dash.Areas.Identity.Models.AddRoleViewModel

@{
    Layout = "_Layout";
}

    <div class="row mt-11 mb-11">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="card shadow-lg bg-gradient-dark">
                <div class="card-header bg-gradient-dark" style="display: flex; justify-content: space-between; align-items: center">
                    <h1 class="text-gradient text-warning ubuntu-bold">Roles</h1>
                    <a class="btn violet text-white ubuntu-bold" asp-action="Index" asp-controller="Dashboard" asp-area="Admin">Go To Dashboard</a>
                </div>
                <div class="card-body p-3">
                    <form asp-action="AddARole" asp-controller="Role" asp-area="Identity" method="post">
                        <div class="form-group">
                            <label asp-for="Name" class="form-label ubuntu-bold text-gradient text-info">Role Name</label>
                            <input asp-for="Name" class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold" id="Name">
                        </div>
                        <div class="mt-3 mb-3">
                            <button type="submit" class="btn violet btn-lg w-100 ubuntu-bold text-white">Add Role</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

